* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: auto;
}

a, p, div, li, h1, h3, h2 {
    color: white;
    font-family: 'Raleway', sans-serif;  
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #007aaf;
}

.top {
    top: 0;
    background-color: inherit;
    padding: 30px 15px 5px 15px;
    margin-bottom: 5px;  
}

.container {
    background-color: inherit;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.button {
    background-color: #4c91af; /* light blue */
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 10px;    
}

.row {
    background-color: inherit;
    padding: 30px 15px;
    overflow: auto;
}

.row div {
    max-width: 750px;
}
