* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: auto;
}

a, p, div, li, h1, h3, h2 {
    color: white;
    font-family: 'Raleway', sans-serif;  
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #007aaf;
}

.top {
    top: 0;
    background-color: inherit;
    padding: 30px 15px 5px 15px;
    margin-bottom: 5px;  
}

.container {
    background-color: inherit;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.button {
    background-color: #4c91af; /* light blue */
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 10px; 
}

.row {
    background-color: inherit;
    padding: 30px 15px;
    overflow: auto;
}

.row p {
    padding: 10px 5px;
}

.row div {
    max-width: 750px;
}

.next {
    text-align: left;
}

.bottom {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 25px;
}

.bottom a:hover {
    background-color: red;
}

