* {
    box-sizing: border-box;
}

body, html {
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

.center-element{
  text-align: center;
}

.shadow{
  box-shadow: 0 3px 3px grey;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 5em;
}

.big-font {
  font-size: 3em;
}

[class*="col-"]{
  float: left;
  padding: 5px 10px;
  width: 100%;
  min-width: 25px;
}

.header {
  background-color: #1BCACD;
  color: #fafafa;
  margin: 0 auto;
  padding: 15px 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*z-index: 200;*/
  height: 70px;
}

.header p{
  padding: 5px ;
}

.body {

}

#btn1{
  z-index: 300;
  position: fixed;
  top: 60px;
  left: 15px;
}



/*desktop breakpopint*/
@media only screen and (min-width: 960px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  #btn1{
    z-index: 300;
    position: fixed;
    top: 50px;
    left: 115px;
  }
}

/*tablet breakpoint*/
@media only screen and (max-width: 959px) and (min-width: 600px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .big-font{font-size: 1.5em;}
}

@media all and (max-width: 599px) and (min-width: 300px) {
  .big-font{font-size: 1em;}

}



a {
  text-decoration: none;
}
a:link{
  color: #fafafa;
}
a:visited{
  color: #fafafa;
}
a:hover{
  color: #212121;
}

.load-spinner {
  z-index: 350;
  position: fixed;
  top: 60px;
  left: 15px;
}









